<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title><%= movie_title %></title>
  </head>
  <body>
      <div class="container">
        <h1> <%= movie_title %></h1>
        <p>Title: <%= single_movie.Title %></p>
        <p>ID: <%= single_movie.ID %></p>
        <p>Year: <%= single_movie.Year %></p>
        <p>Genre: <%= single_movie.Genre %></p>
        <p>Director: <%= single_movie.Director %></p>
        <p>Actors: <%= single_movie.Actors %></p>
        <p>Plot: <%= single_movie.Plot %></p>
        <p>Cheapest Price: <%= single_movie.Price %> </p>
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
  </body>
</html>